:root {
    --font-family: "Exosevka", "Exosevka Nerd Font";
    --font-size: 14px !important;

    --basebg: #1d2021;
    --basefg: #ebdbb2;
    --base00: #1d2021;
    --base08: #928374;
    --base01: #cc241d;
    --base09: #fb4934;
    --base02: #98971a;
    --base10: #b8bb26;
    --base03: #d79921;
    --base11: #fabd2f;
    --base04: #458588;
    --base12: #83a598;
    --base05: #b16286;
    --base13: #d3869b;
    --base06: #689d6a;
    --base14: #8ec07c;
    --base07: #a89984;
    --base15: #ebdbb2;
    --base16: #d65d0e;
    --base17: #282828;
    --base18: #32302f;

    --button: var(--base08) !important;

    -moz-tab-size: 1 !important;
    -webkit-font-smoothing: antialiased !important;
}

.theme-dark {
    --header-primary: var(--basefg) !important;
    --header-secondary: var(--basefg) !important;

    --text-normal: var(--basefg) !important;
    --text-muted: var(--base07) !important;
    --text-link: var(--base10) !important;

    --channels-default: var(--base07) !important;

    /* --brand-experiment: var(--base10); */

    --interactive-normal: var(--base07) !important;
    --interactive-hover: var(--basefg) !important;
    --interactive-active: var(--basefg) !important;
    --interactive-muted: var(--base07) !important;

    --background-primary: var(--basebg) !important;
    --background-secondary: var(--base17) !important;
    --background-secondary-alt: var(--base18) !important;
    --background-tertiary: var(--basebg) !important;
    --background-accent: var(--base06) !important;
    --background-floating: var(--basebg) !important;
    --background-modifier-hover: rgba(79, 84, 92, 0.16) !important;
    --background-modifier-active: rgba(79, 84, 92, 0.24) !important;
    --background-modifier-accent: rgba(0, 0, 0, 0) !important;
    --background-mentioned: var(--basebg) !important;
    --background-modifier-selected: var(--base17) !important;

    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24) !important;

    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) !important;

    --channeltextarea-background: var(--basebg) !important;

    --activity-card-background: var(--base17) !important;

    --deprecated-panel-background: var(--base17) !important;

    --chat-area-offset: 4px !important;

    --bold-font: var(--font-family) !important;
    --code-font: var(--font-family) !important;
    --italic-font: var(--font-family) !important;
    text-rendering: optimizeLegibility;
}

* {
    font-smooth: always !important;
    font-family: var(--font-family) !important;
    font-weight: normal !important;
    font-size: var(--font-size) !important;
    text-rendering: geometricPrecision !important;
}

code {
    font-family: var(--font-family) !important;
    font-size: 15px !important;
}

div[class="wrapper-1BJsBx"],
div[class="wrapper-1BJsBx"]:hover {
    border-radius: 0px !important;
}

[aria-label="Add Friend"],
[class^="circleIconButton"][class*="selected"] {
    background-color: var(--base02) !important;
    color: var(--basebg) !important;
}

[class^="peopleList"] {
    background: var(--basebg) !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-handle,
::-webkit-scrollbar-track-piece {
    display: none !important;
}

.message-2qnXI6:not(.mentioned-xhSam7):hover {
    background-color: var(--basebg) !important;
}

.autocompleteInner-zh20B_ {
    background-color: var(--base17) !important;
}

.selectorSelected-1_M1WV {
    background-color: var(--base16) !important;
}

.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: var(--basebg) !important;
}

.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: var(--basebg) !important;
}

.selected-1Tbx07.selectable-3dP3y-.base-1pYU8j {
    background-color: var(--basebg) !important;
}

[class*="reactions-"] .emoji {
    height: 1.2rem !important;
    width: 1.2rem !important;
    border: 0px !important;
}

[class*="chat-"] [class*="reactionMe-"] {
    background-color: var(--base17) !important;
    border: 0px !important;
    border-bottom: 3px solid var(--base06) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.reactionMe-wv5HKu .reactionCount-2mvXRV,
.reactionMe-wv5HKu:hover .reactionCount-2mvXRV {
    display: inline-block !important;
    background-color: var(--basebg) !important;
    color: var(--basefg) !important;
}

img[class*="avatar"] {
    filter: sepia(30%) !important;
    border-radius: 100px !important;
    overflow: hidden !important;
    /* font-size: 8px !important; */
    transition: filter 0.1s, transform 0.1s ease-in-out !important;
}
img[class*="avatar"]:hover {
    filter: sepia(0%) !important;
    transform: scale(1.05) !important;
}

.emojiItemDisabled-1FvFuF {
    filter: grayscale(0%) !important;
}

div[class*="groupStart-"] > [role="group"] {
    display: none !important;
}

div.size12-3R0845.marginBottom8-AtZOdT.bodyTitle-Y0qMQz:nth-of-type(3),
.scrollbar-3dvm_9.scrollbarGhostHairline-1mSOM1.input-cIJ7To.inputDefault-_djjkz.textarea-2r0oV8 {
    font-family: var(--font-family) !important;
}

#user-context-invite-to-server {
    display: none !important;
}

.colorDefault-2K3EoJ.colorBrand-ROmMP1.labelContainer-1BLJti.item-1tOPte {
    display: none !important;
}

[class*="guilds-"] [class*="scroller-"] > [class*="listItem-"]:nth-last-child(-1n + 3) {
    display: none !important;
}

[class*="colorBrand"] {
    color: var(--base06) !important;
}

[class*="colorDanger"] {
    color: var(--base01) !important;
}

[class*="lookBlank"] {
    color: var(--basefg) !important;
}

[class*="input"]:focus {
    border-color: var(--base06) !important;
}

[id*="popout"] [class*="container"] {
    background-color: var(--basebg) !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4) !important;
    color: var(--basefg) !important;
}

[id*="popout"] [class*="container"] ::after {
    background-image: none !important;
}

[class*="live"][class*="textBadge"] {
    background-color: var(--base01) !important;
    color: var(--basefg) !important;
}

[class*="navButtonActive"] {
    background-color: unset;
    color: var(--basefg) !important;
}

[class*="option"][class*="selected"] {
    background-color: var(--base17) !important;
}

[class*="resultsGroup"] * {
    color: var(--basefg) !important;
}

[class*="resultsGroup"] [class*="filter"] {
    color: var(--basefg) !important;
}

[class*="resultsGroup"] [class*="header"] {
    color: var(--basefg) !important;
}

[class*="peopleColumn"] {
    background-color: var(--basebg) !important;
}

[class*="section"] {
    background-color: var(--basebg) !important;
}

[class*="sidebar"] [class*="container"] [class*="header"] {
    background-color: var(--basebg) !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2) !important;
}

[class*="sidebar"] > [class*="container"],
[class*="members"][class*="scroller"] {
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.2) !important;
}

[class*="scrollerWrap"] {
    border-radius: 0px !important;
}

[class*="membersWrap"] {
    overflow: hidden !important;
}

[class*="chatContent"] [class*="form"] {
    padding-top: 0.5rem;
    background-color: var(--basebg) !important;
    box-shadow: 0 -30px 20px -30px rgba(0, 0, 0, 0.3) !important;
}

[class*="textAreaSlate"] {
    background-color: var(--base17) !important;
    border-radius: 0px !important;
    color: var(--basefg) !important;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

[class*="textAreaSlate"] > * {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

[class*="userPopout"] [class*="body"],
[class*="userPopout"] [class*="footer"] {
    background-color: var(--basebg) !important;
}

[class*="userPopout"] [class*="headerNormal"] {
    background-color: var(--base17) !important;
}

[class*="headerPlaying"] * {
    background-color: var(--base06) !important;
}

button[class*="lookFilled"] {
    background-color: var(--button) !important;
}

button[class*="buttonActive"][class*="lookFilled"] {
    background-color: var(--base06) !important;
    color: var(--basebg) !important;
}

button[class*="lookLink"] {
    color: var(--basefg) !important;
}

[class*="sprite"] {
    filter: brightness(80%) sepia(80%) saturate(60%) !important;
}

[class*="newMessagesBar-"] {
    background-color: var(--base12) !important;
    color: var(--basebg) !important;
    opacity: 1;
}

[class*="newMessagesBar-"] button {
    background-color: var(--base12) !important;
    color: var(--basebg) !important;
}

span[class^="expandedFolderBackground"] {
    background-color: var(--basebg) !important;
}

[class*="pictureInPictureWindow"] {
    box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.5) !important;
}

[class*="divider"] {
    border-color: var(--base17) !important;
}

[class*="divider"][class*="isUnread"] {
    border-color: var(--base01) !important;
}

[class*="unreadPill-"] {
    background-color: var(--base01) !important;
}

[class*="unreadPillCap"] {
    fill: var(--base01) !important;
}

button[class*="lookFilled"] {
    color: var(--basefg) !important;
}

[class*="live"][class*="textBadge"] {
    background-color: var(--base01) !important;
    color: var(--basefg) !important;
}

[class*="modal"] [class*="queryContainer-"],
[class*="modal"] [class*="resultsGroup-"],
[class*="modal"] [class*="bodyInner-"],
[class*="modal"] [class*="quickMessage-"],
[class*="modal"] [class*="inner-"],
[class*="modal"] [class*="header-"]:not(header):not(h2),
[class*="modal"] [class*="uploadModal-"],
[role*="dialog"] form {
    background-color: var(--basebg) !important;
}

[role*="dialog"] form [class*="footer"] {
    background-color: var(--base17) !important;
}

[class*="modal"] [class*="sourceScroller"],
[class*="modal"] [class*="segmentContainer-"] [class*="segmentControl"] /*go live source selector header bar*/ {
    background-color: var(--base17) !important;
}

[class*="modal"] [class*="header"] {
    padding-top: unset;
    padding: 0.4rem;
}

[class*="modal"] [class*="footer-"] {
    background-color: var(--base17) !important;
    filter: brightness(110%) !important;
}

[class*="panels"] > *:nth-child(2) {
    height: 4.6rem;
    padding-bottom: 0.5rem;
}

div[class*="chat"] div[class*="root"] {
    background-color: var(--basebg) !important;
}

div[class*="rtcConnectionStatus"] *,
[class*="circleIconButton"] {
    color: var(--base06) !important;
}

code.hljs:not(.inline)::before {
    content: attr(class) !important;
    float: right;
    display: block;
    width: auto;
    max-width: 5.3rem !important;
    min-width: auto;
    margin-top: -8.6rem !important;
    line-height: 1.6rem !important;
    overflow-x: hidden !important;
    scrollbar-width: none;
    text-align: right;
    /* font-size: 0.8rem; */
    opacity: 0.6;
    font-family: var(--code-font) !important;
    font-weight: normal;
}

pre,code {
    font-family: var(--code-font) !important;
}

[data-list-id="people"] {
    margin-top: 0px !important;
}

a[aria-label^="unread"] {
    font-weight: bold;
}

h3, h1, h2 > div, div[class^="repliedTextPreview"] {
    font-family: var(--italic-font) !important;
    font-style: italic;
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] {
    padding-top: 0 !important;
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child > div {
    box-shadow: var(--elevation-low) !important;
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child + div > div[class^="guildSeparator"] {
    display: none;
}

div[href="/channels/@me"]:not(:hover) > div {
    background-color: var(--basebg) !important;
}

.pill-3N7f9r{
    display: none !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background: none !important;
}

.tutorialContainer-2sGCg9 {
    position: fixed;
    z-index: 1;
    background: var(--background-tertiary) !important;
}
.guilds-1SWlCJ .scroller-1Bvpku { contain: none !important; padding-top: 0;}
.guilds-1SWlCJ .scroller-1Bvpku > [aria-label], .guilds-1SWlCJ .scroller-1Bvpku > [style]:nth-child(2) { margin-top: 60px !important;}
.guilds-1SWlCJ .scroller-1Bvpku > [style] ~ [aria-label] { margin-top: 0px !important;}

nav[aria-label="Servers sidebar"] {
    width: 70px !important;
}

.sidebar-2K8pFh {
    width: 240px !important;
}

.hljs {
    display: block;
    padding: 10px !important;
    overflow-x: hidden !important;
    scrollbar-width: 0px !important;
    background: var(--base17) !important;
}

.hljs,
.hljs-subst {
    color: var(--basefg) !important;
}

.hljs-deletion,
.hljs-formula,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
    color: var(--base01) !important;
}

.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-variable,
.hljs-type {
    color: var(--base04) !important;
}

.hljs-attr,
.hljs-params,
.hljs-template-tag {
    color: var(--base03) !important;
}

.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
    color: var(--base13) !important;
}

.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
    color: var(--base16) !important;
}

.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-title,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
    color: var(--base02) !important;
    font-weight: bold;
}

.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
    color: var(--base06) !important;
}

.hljs-comment {
    color: var(--base08) !important;
}

.hljs-link_label,
.hljs-literal,
.hljs-number {
    color: var(--base05) !important;
}

.hljs-comment,
.hljs-emphasis {
    font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
    font-weight: bold;
}
