@import url("userChrome.css");

@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
        background: var(--bg) !important;
    }
}

:root {
    scrollbar-width: none !important;
}

@-moz-document url(about:privatebrowsing) {
    :root {
        scrollbar-width: none !important;
    }
}
