:root {
    --basebg: #1d2021;
    --basefg: #ebdbb2;
    --base00: #1d2021;
    --base08: #928374;
    --base01: #cc241d;
    --base09: #fb4934;
    --base02: #98971a;
    --base10: #b8bb26;
    --base03: #d79921;
    --base11: #fabd2f;
    --base04: #458588;
    --base12: #83a598;
    --base05: #b16286;
    --base13: #d3869b;
    --base06: #689d6a;
    --base14: #8ec07c;
    --base07: #a89984;
    --base15: #ebdbb2;
    --base16: #d65d0e;
    --base17: #282828;
    --base18: #32302f;

    --nav-toolbar-padding: 8px;
    --tab-border-radius: -10px;
    --font-family: "Exosevka";
    --font-size: 13px;
    --font-weight: 400;
    --tab-font-family: "Exosevka";
    --tab-font-size: 13px;
    --tab-font-weight: 400;
    --tab-pinned-bg: var(--base12);
    --tab-selected-bg: var(--base13);
    --tab-soundplaying-bg: var(--base10);
    --url-bar-color: var(--basefg);
    --url-bar-focused-color: var(--base12);
    --url-bar-font-family: "Exosevka";
    --url-bar-font-size: 15px;
    --url-bar-font-weight: 700;
    --url-bar-results-color: var(--base04);
    --url-bar-results-font-family: "Exosevka";
    --url-bar-results-font-size: 15px;
    --url-bar-results-font-weight: 700;
    --url-bar-results-url-color: var(--base04);
    --autocomplete-popup-background: var(--basebg) !important;
    --default-arrowpanel-background: var(--basebg) !important;
    --default-arrowpanel-color: var(--basefg) !important;
    --lwt-toolbarbutton-icon-fill: var(--basefg) !important;
    --panel-disabled-color: var(--basefg);
    --toolbar-bgcolor: var(--basebg) !important;
    --url-bar-separator-color: var(--basebg) !important;

    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
}

* {
    border-radius: 0px !important;
  }

.tabbrowser-tab {
    border-radius: var(--tab-border-radius) !important;
    border-width: 0px !important;
    margin-top: -10px !important;
    margin-bottom: -10px !important;
    margin-inline-end: 2px !important;
    margin-inline-start: 2px !important;
}

.tabbrowser-tab[pinned="true"] {
    opacity: 1 !important;
    background-color: var(--base12) !important;
}

.tabbrowser-tab[soundplaying="true"] {
    opacity: 1 !important;
    color: var(--basebg) !important;
    background-color: var(--base10) !important;
}

.tabbrowser-tab[soundplaying="true"] .tab-text {
    opacity: 1 !important;
    display: center !important;
    color: var(--basebg) !important;
}

.tab-background[selected="true"] {
    opacity: 0 !important;
    background-color: var(--base13) !important;
}

label[class="tab-icon-sound-label tab-icon-sound-blocked-label"],
label[class="tab-icon-sound-label tab-icon-sound-playing-label"] {
    display: none !important;
}

.tabbrowser-tab[selected="true"] {
    opacity: 1 !important;
    background-color: var(--base13) !important;
}

.tabbrowser-tab:not[visuallyselected] {
    opacity: 1 !important;
    background-color: var(--basebg) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    border: none !important;
}

.tab-label:not([selected]) {
    color: var(--basefg) !important;
    border: none !important;
}

.tab-background {
    border: none !important;
}

.tabbrowser-arrowscrollbox {
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

.tab-text {
    font-family: var(--tab-font-family) !important;
    font-weight: var(--tab-font-weight) !important;
    font-size: var(--tab-font-size) !important;
    color: var(--basebg) !important;
}

.tab-content .tab-icon-image {
    display: none !important;
}

.tab-content[pinned="true"] .tab-icon-image {
    display: initial !important;
    filter: grayscale(1) brightness(1) contrast(1) invert(0) !important;
}

.tab-content[pinned="true"] .tab-text {
    display: none !important;
}

#tabbrowser-tabs {
    --tab-loading-fill: var(--basebg) !important;
}

.tab-label-container:not([textoverflow]) {
    display: center;
    overflow: hidden;
    justify-content: fill;
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
}

.tab-line {
    display: none !important;
}

.urlbar-icon > image {
    fill: var(--basefg) !important;
    color: var(--basefg) !important;
}

#titlebar {
    -moz-box-ordinal-group: 3 !important;
}

#toolbar-menubar {
    display: none !important;
}

.toolbarbutton-text {
    color: var(--basefg) !important;
}

.urlbar-icon {
    color: var(--basefg) !important;
}

.toolbarbutton-icon {}

#urlbar-results {
    font-family: var(--url-bar-results-font-family);
    font-weight: var(--url-bar-results-font-weight);
    font-size: var(--url-bar-results-font-size) !important;
    color: var(--base12) !important;
}

.urlbarView-row[type="bookmark"] > span{
    color: var(--base02) !important;
}
.urlbarView-row[type="switchtab"] > span{
    color: var(--base16) !important;
}

.urlbarView-url,
.search-panel-one-offs-container {
    color: var(--base12) !important;
    font-family: var(--url-bar-font-family);
    font-weight: var(--url-bar-results-font-weight);
    font-size: var(--url-bar-font-size) !important;
}

.urlbarView-favicon,
.urlbarView-type-icon {
    display: none !important;
}

#urlbar-input {
    font-size: var(--url-bar-font-size) !important;
    color: var(--basefg) !important;
    font-family: var(--url-bar-font-family) !important;
    font-weight: var(--url-bar-font-weight)!important;
    text-align: left !important;
}

#tracking-protection-icon-container, image#permissions-granted-box, #identity-box {
    display: none !important;
}

#PanelUI-button {
    display: none !important;
}

#reader-mode-button,
#readinglist-addremove-button {
    display: none !important;
}

toolbarbutton#fxa-toolbar-menu-button {
    display: none !important;
}

toolbar {
    background-image: none !important;
}

#urlbar-background {
    opacity: 1 !important;
}

#navigator-toolbox, toolbaritem {
    border: none !important;
}

#urlbar-background {
    background-color: var(--basebg) !important;
    border: none !important;
}

#webrtcIndicator {
    display: none !important;
}

.toolbar-items {
    background-color: var(--basebg) !important;
}

#sidebar-search-container {
    background-color: var(--basebg) !important;
}

tab.tabbrowser-tab {
    overflow: hidden;
}

tab.tabbrowser-tab:hover {
    box-shadow: 0 0px 0px var(--base18) !important;
}

#PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="searchengine"],
#PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="visiturl"] {
    display: none !important;
}

hbox[class="urlbar-page-action"] {
    display: none !important;
}

image#star-button {
    display: none;
}

toolbar#nav-bar {
    padding: var(--nav-toolbar-padding) !important;
}

toolbar#nav-bar {
    padding: 4px !important;
}

#urlbar {
    max-width: 100% !important;
    margin: 0 0% !important;
}

#urlbar-input:focus {
    color: var(--base12) !important;
}

.megabar[breakout-extend="true"]:not([open]) > #urlbar-background {
    box-shadow: none !important;
    background-color: transparent !important;
}

toolbarbutton {
    box-shadow: none !important;
}

.close-icon,
.urlbar-icon {
    fill: var(--basefg) !important;
}

.sidebar-placesTree {
    color: var(--basefg) !important;
}

#sidebar-switcher-target {}

#sidebar-box {
    --sidebar-background-color: var(--basebg) !important;
}

splitter#sidebar-splitter {
    opacity: 0 !important;
}

splitter#sidebar-splitter {
    border: none !important;
    background-color: transparent !important;
}

image#sidebar-icon {
    display: none;
}

.panel-arrowcontent {
    padding: 0px !important;
    margin: 0px !important;
}

toolbarseparator {
    display: none;
}

.titlebar-buttonbox-container {
    display: none;
}

#forward-button[disabled="true"] {
  visibility: collapse !important;
  transition: visibility 150ms ease-out !important;
}

#forward-button:not([disabled="true"]) {
  visibility: visible !important;
  transition: 0ms ease-out !important;
}

.tab-throbber,
.tab-icon-image,
.tab-close-button,
.tab-icon-pending,
.tab-icon-overlay,
#tabs-newtab-button,
.tab-throbber-tabslist,
.tab-sharing-icon-overlay {
    display: none !important;
}
